.reveal-top-left{
width: 50%;

position: relative;
background-image: url("Speak-Easy-Left.jpeg");
background-size: cover;
background-repeat: no-repeat;

}

.reveal-top-right{
width: 50%;

position: relative;
background-image: url("Speak-Easy-Right.jpeg");
background-size: cover;
background-repeat: no-repeat;

}



.reveal-wrapper{
  min-height: 100vh;
  display: flex;
  overflow-x: hidden;

}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.disc{
  width: 16em;
  height: 16em;
  border-radius: 50%;
  background-image: url("Bourbon-Glass.png");
  background-size: contain;
  background-color: black;
  top: 40%;
  right: 42.5%;
  position: fixed;
  z-index: 1;
  transition-duration: 2s;

}
.reveal-wrapper{
  background-color: black;
}


.title-bar{
  position: fixed;
  top: 0%;
  display: none;
  background-color: #9f8660;
  height: 50px;
  text-align: center;
  left: 10%;
  right: 10%;



}

h1{
  color: black;
}

.navigation-bar{
  position: fixed;
  top: 50px;
  display: none;
  background-color: #ecd9c6;
  height: 50px;
  text-align: center;
  justify-content: space-evenly;
  flex-direction: row;
  left: 10%;
  right: 10%;


}

.nav-button{
  border-color: white;
  border-width: 3px;
  border-style: solid;
  background-color: black;

}

.carousal{
  position: fixed;
  top: 110px;
  display: none;
  height: 40vh;
  left: 10%;
  right: 10%;
}

h2{
  color: white;
  padding-left: 2px;
  padding-right: 2px;
  bottom: 0;
}

[type=radio]{
  display: none;
}

#slider{
  height: 35vh;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label{
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3{
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4{
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3),0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5{
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3),0 11px 7px 0 rgba(0,0,0,..19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide3, #s4:checked ~ #slide5,
#s5:checked ~ #slide1{
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3),0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2{
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}
